body {
  margin: 0;
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 13vh 1fr 3fr;
  grid-template-areas: "header"
                       "aside"
                       "section";
  color: black;
}

header {
  grid-area: header;
  background-color: rgb(200, 200, 200);
	line-height: 1em;
}
h1 {
  text-align: center;
	
}
h2 {
	display:inline-block;
	text-decoration: underline;
	font-size:1.3em;
	margin-bottom:0;
}
h4 {
	margin-top:0;
}
a {
	text-decoration:none;
}
section {
  grid-area: section;
  background-color: white;
  padding: 1em;
  color: black;
  display: flex;
  -webkit-flex-flow: wrap row;
  	flex-flow: wrap row;
  	justify-content: center;
}
article a {
	color: black;
	float:right;
	margin-left:0.5em;
	font-size: 1.5em;
}
article {
  text-align: left;
  width:22vw;
  min-width:245px;
  margin:1vw;
}
article p {
	font-style: italic;
}
article p:last-child {
	font-style: normal;
	text-align: right;
}
article table, article th, article tr, article td {
  border:0.1em solid black;
}
article td, article th {
  padding: 1em;
}
tr:first-child th:first-child {
	border-top-left-radius: 0.5em;
}
tr:first-child th:last-child {
	border-top-right-radius: 0.5em;
}
tr:last-child td:first-child {
	border-bottom-left-radius: 0.5em;
}
tr:last-child td:last-child {
	border-bottom-right-radius: 0.5em;
}
aside {
  grid-area: aside;
  background-color: white;
  padding:1em;
  text-align: right;
}
aside form {
  display: flex;
  flex-flow: row nowrap;
  align-content: center;
  align-items:center;
  justify-content: flex-end;
}
form select {
	height: 5em!important;
}
section {
	margin-bottom:1vw;
}
aside input, section input, form select {
  padding: 0 1vw;
  margin: 0 1%;
  border: none;
  border-radius: 0.5em;
  line-height: 2em;
  height: 2em;
  width: 10vw;
  min-width: 85px;
  border:0.1em solid black;
}
form div label {
display:flex;
flex-flow: row nowrap;
justify-content:flex-start;
  align-items:center;
}
input[type="radio"] {
	margin:0;
	
}
div label span {
	
}
aside input[type="submit"] {
  width: 9em;
  background-color: rgb(200, 200, 200)
}
footer {
  grid-area: footer;
  background-color: rgb(200, 200, 200);
  line-height:1em;
}
